<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="TestsPath" value="c:\open\Source\Wilco.UITest\Wilco.UITest.Spec\bin\Debug\Wilco.UITest.Spec.dll" />
    <add key="TestsProjectPath" value="c:\open\Source\Wilco.UITest\Wilco.UITest.Spec\Wilco.UITest.Spec.csproj" />
  </appSettings>
</configuration>