<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Wilco" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=OpenDb;Persist Security Info=True;User ID=sa;Password=Tsunami9" />
    <!-- <add name="Wilco" connectionString="User Id=postgres;Password=Tsunami9;Host=localhost;Database=opendb;Persist Security Info=True;Initial Schema=public;Transaction Scope Local=True;Unicode=True;" /> -->
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRequestService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/Wilco.Workflow/WorkflowXaml/NewClientNewMatterRequest.xamlx" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRequestService" contract="WorkflowServiceReference.IRequestService" name="BasicHttpBinding_IRequestService" />
    </client>
  </system.serviceModel>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" />
  </specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Elasticsearch.Net" publicKeyToken="96c599bbe3e70f5d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Devart.Data.PostgreSql" />
      <add name="dotConnect for PostgreSQL" invariant="Devart.Data.PostgreSql" description="Devart dotConnect for PostgreSQL" type="Devart.Data.PostgreSql.PgSqlProviderFactory, Devart.Data.PostgreSql, Version=7.8.862.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <providers>
      <provider invariantName="Devart.Data.PostgreSql" type="Devart.Data.PostgreSql.Entity.PgSqlEntityProviderServices, Devart.Data.PostgreSql.Entity.EF6, Version=7.8.862.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
    </providers>
  </entityFramework>
  <appSettings>
    <!--iexplore, chrome -->
    <add key="BrowserLocale" value="en-US" />
    <add key="BrowserName" value="chrome" />
    <add key="ApplicationUri" value="http://localhost/Open/" />
    <add key="ServiceUri" value="http://localhost/Open.Services/" />
    <add key="AuthorizationServerUri" value="https://localhost/AuthorizationServer"/>
    <add key="ScreenshotDirectory" value="Screenshots/" />
    <add key="DownloadsDirectory" value="Downloads" />
    <add key="LogFileName" value="Logs\Scenario.log" />
    <add key="BrowserLoggingLevel" value="None" />
    <add key="TreatHttpErrorsAsTestError" value="true" />
    <add key="TreatJavaScriptErrorsAsTestError" value="true" />
    <add key="SmtpServerEnabled" value="True" />
    <add key="RequestPage" value="SPA" />

    <!-- Deployment options: OnPremise,Cloud -->
    <add key="Deployment" value="OnPremise" />
    <add key="Database" value="Mssql" />
    <add key="Tenant" value="" />

    <!-- Grid related changes http://localhost:4444/wd/hub -->
    <add key="SmtpServerPort" value="25" />
    <add key="GridUri" value="" />
    <add key="GridSecureToken" value="DD620AEF-64C8-4437-864F-D11E4C2BC448" />
    
    <!-- Cloud specific settings -->
    <!-- this part of settings exist to discover tenant connection string and settings -->
    <add key="s3.authdomain" value="" />
    <add key="s3.key" value="" />
    <add key="s3.clusterJobQueue" value="" />
    <add key="s3.regionendpoint" value="" />
    <add key="s3.bucketname" value="" />
    <add key="s3.secretkey" value="" />
    <!-- this is part of URL which would point to DataSets discovery services -->
    <add key="OpenLink.ServiceUrl" value="" />
  </appSettings>
</configuration>